*{
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.backroundImage{
  width: 100vw;
  height: 100vh;
}
    
img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.chooseWeapon{
  text-align: center;
  font-size: 50px;
}

.scores{
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 30px;
  font-size: 30px;
}

.pScore,.cScore{
  text-align: center;
  margin-top: 10px;
}

.weapons{
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 90px;
}

#rock, #paper, #scissors{
  padding: 15px;
  width: 170px;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#rock {
  background-color: rgb(106, 99, 90);
}

#paper {
  background-color: rgb(239, 237, 230);
  color:#26221e;
}

#scissors {
  background-color: rgb(48, 82, 35);
}

.reload {
  display: none;
  margin-top: 1.5rem;
  background: white;
  color: #26221e;
  padding: 1rem;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.winner{
  margin-top: 20px;
  font-size: 40px;
}